<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="c" xsi:type="ColoredConsole"/>
    <target name="f1" xsi:type="File" fileName="logs.log"/>
  </targets>
  <rules>
    <logger minlevel="Trace" writeTo="c" />
    <logger minlevel="Warning" writeTo="f1" />
  </rules>
</nlog>